.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);

  .modalBody {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    background-color: $crossfire-red-opacity;

    padding: 2rem;

    .modalImage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 55%;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;
      }
    }

    .modalContent {
      margin-left: 1rem;
      flex-basis: 45%;
      overflow-y: scroll;
    }

    .closeButtonDiv {
      position: absolute;
      top: 0;
      right: 0;
    }

    .closeButtonIcon {
      width: 20%;
      z-index: 1;
    }

    // Small breakpoint and up
    @media (min-width: $small-device) {
      height: 60%;
    }
    @media (min-width: $med-device) {
      height: 65%;
    }

    @media (min-width: $large-device) {
      height: 75%;
    }

    @media (min-width: $xlarge-device) {
      height: 80%;
      .modalContent {
        font-size: 16px;
      }
    }
  }
}
