.cast {
  height: 200vh;
  width: 100vw;
  // position: relative;
}
.cast-title {
  color: white;
}
.cast-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .member {
    padding-left: 20px;
    p {
      margin-bottom: 0;
      color: white;
    }
    .cast-image {
      height: 200px;
      width: 200px;
      margin-bottom: 0;
    }
  }
}
