@import "./_mixins";
.navbar {
  background-color: #92092c;
  position: fixed;
  width: 100%;
  overflow: hidden;
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
  }
}
.title {
  padding: 0 3rem;
}
.scroll-targets {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
    width: 50%;
  }
}

.nav-link {
  text-decoration: none;
  color: $primary-text-color;
  font-size: 25px;
}
.drawer-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
h1 {
  margin-bottom: 0;
}

.social-translate {
  .navIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 60px;
  }
  .translation-button {
    position: absolute;
    top: 15px;
    right: 20px;
    .translator {
      height: 30px;
      width: 30px;
    }
  }
}
.hamburger {
  @include desktop {
    display: none;
  }
}
