.navbar {
  background-color: #b5213a;
  position: fixed;
  width: 100%;
  overflow: hidden;
  .navIcon {
    height: 50px;
    width: 50px;
  }
  .navbar-elements {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    .scroll-targets {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
    }
    .site-title {
      margin: auto 0;
      color: white;
      text-decoration: none;
      font-size: 1rem;
      font-style: italic;
    }
    .navbar-title {
      margin: auto 0;
      font-size: 0.8rem;
      color: white;
      .nav-link {
        text-decoration: none;
        color: #fff;
      }
      p {
        margin-top: 1.45rem;
      }
    }
  }
}
