.main {
  display: flex;
  flex-direction: column;
}

.center-title {
  color: white;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  .title-box {
    background-color: #b5213a;
    padding: 1rem 2rem;
  }
}
