.production-title {
  @extend .center-title;
  .production-title-box {
    @extend .title-box;
  }
}

.blog-posts {
  width: 75%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: $animation-green;
  }
}
