body {
  &.modalOpen {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.center-title {
  display: flex;
  width: 80%;
  margin: 0 auto;
  .title-box {
    background-color: $crossfire-red;
    padding: 1rem 2rem;
  }
}
